@import 'var';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    list-style: none;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

body {
    background: darken($color: #efefef, $amount: 10%);
}

.section-header {
    font-size: 32px;
    font-weight: $bold;
    color: $fontColor;
    text-transform: uppercase;
    padding: 80px 0;
    text-align: center;
}

.ab-btn {
    background: $white;
    color: $fontColor;
    padding: 16px 32px;
    display: block;
    text-transform: uppercase;
    font-weight: $semi-bold;
    border: none;
    &.slider-btn {
        font-size: 16px;
    }
    &.sub-btn {
        background: $darkGray;
        color: $white;
    }
}

.ab-wrapper {
    width: 100%;
    max-width: 1920px;
    background: $white;
    display: block;
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.ab-header {
    width: 100%;
    display: flex;
    min-height: 100px;
    max-height: 100px;
    background: $black;
    .ab-logo {
        display: flex;
        padding: 0 16px;
        justify-content: center;
        align-items: center;
        .ab-logo-inner {
            width: 150px;
            height: 55px;
            background: url(../images/ab-logo.png) $black;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
    .ab-navigation {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .basic-nav,
        .main-nav {
            width: 100%;
            display: flex;
            align-items: center;
            ul {
                display: flex;
                li {
                    a {
                        text-transform: uppercase;
                    }
                }
            }
        }
        .basic-nav {
            justify-content: space-between;
            height: calc(100px - 65px);
            background: $white;
            .contact-num {
                font-size: 12px;
                font-weight: $semi-bold;
                color: $fontColor;
                display: block;
                padding: 0 16px;
                strong {
                    font-size: 14px;
                }
            }
            ul {
                li {
                    a {
                        color: $fontColor;
                        font-size: 13px;
                        font-weight: $bold;
                        padding: 0 24px;
                        line-height: 45px;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            color: $red;
                        }
                    }
                    &.special-link {
                        background: $red;
                        font-weight: $semi-bold;
                        &:hover {
                            a {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
        .main-nav-wrapper {
            display: flex;
            width: 100%;
            .main-nav {
                justify-content: space-evenly; // background: $white;
                height: 65px;
                position: relative;
                background: $black;
                ul {
                    width: 100%;
                    align-items: center;
                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 20%;
                        height: 65px;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            background: $fontColor;
                            cursor: pointer;
                        }
                        a {
                            font-size: 15px;
                            font-weight: $bold;
                            color: $white;
                            letter-spacing: 2px;
                        }
                    }
                }
            }
        }
    }
    .ab-search-wrapper {
        .search-btn {
            width: 65px;
            height: 65px;
            background: $black;
            display: block;
            background: url(../images/search-icon.png) $black;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 24px;
            cursor: pointer;
            z-index: 3;
        }
        .searchbar {
            position: absolute;
            height: 65px;
            width: 0;
            z-index: 0;
            top: 0;
            right: 0;
            background: $darkGray;
            transition: all 0.3s ease-in-out;
            overflow: hidden;
            opacity: 0;
            &.searchbar-open {
                width: calc(100% - 65px);
                z-index: 2;
                opacity: 1;
                right: 65px;
            }
            input {
                width: 100%;
                border: none;
                height: 65px;
                margin: 0;
                padding: 0 24px 0 72px;
                text-transform: uppercase; //border-bottom: 2px solid $lightGray;
                background: url(../images/gray-search.png);
                background-size: 24px;
                background-repeat: no-repeat;
                background-position: 24px;
                position: relative;
                color: $white;
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: $lightGray;
                    top: 48px;
                    z-index: 3;
                    display: block;
                }
            }
        }
    }
}

.ab-home-slider-wrpper {
    width: 100%;
    height: calc(100vh - 100px); //max-height: 1080px;
    background: $black;
    display: flex;
    min-width: 0;
    min-height: 0;
    .ab-slider {
        height: 100%;
        background: $red;
        min-width: 0;
        min-height: 0;
        .slide-1 {
            .slider-bg {
                background: url(../images/honda.jpg);
            }
        }
        .slide-2 {
            .slider-bg {
                background: url(../images/am.jpg);
            }
        }
        .slide-3 {
            .slider-bg {
                background: url(../images/mustang.jpg);
            }
        }
        .slide-4 {
            .slider-bg {
                background: url(../images/discovery.jpg);
            }
        }
        .slide-1,
        .slide-2,
        .slide-3,
        .slide-4 {
            .slider-bg {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 20%;
            }
        }
        .slider-bg {
            display: flex;
            width: 100%;
            height: calc(100vh - 100px); //ght: 1080px;
            align-items: center;
        }
        .slider-content {
            width: 25%;
            min-width: 320px;
            margin-left: 10%;
        }
        .slide-header {
            display: inline-block;
            background: rgba(0, 0, 0, 0.8);
            width: fit-content;
            padding: 24px;
            margin-bottom: 12px;
            h1 {
                color: $white;
                font-size: 48px;
                line-height: 48px;
                display: inline-block;
                width: fit-content;
            }
        }
        .slider-info {
            display: inline-block;
            background: rgba(0, 0, 0, 0.8);
            padding: 24px;
            width: 100%;
            p {
                color: $white;
                font-size: 20px;
                font-weight: $regular;
                margin-bottom: 24px;
            }
        }
    }
}

.slick-dots {
    text-align: left;
    padding: 0px 8%;
}

.slick-dots li {
    width: auto;
    height: auto;
}

.slick-dots li button {
    font-size: 24px;
    line-height: 24px;
    font-weight: $semi-bold;
    display: block;
    width: 32px;
    height: 32px;
    padding: 24px 24px;
    cursor: pointer;
    color: $white;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    display: none;
}

.slick-dots li.slick-active button {
    font-size: 48px;
}

.ab-new-arivals {
    width: 100%;
}

.ab-details,
.ab-services {
    width: 100%;
    padding: 120px 0 80px;
}

.ab-details {
    background: $darkGray;
}

.single-image-banner {
    width: 100%;
    min-height: calc(80vh - 110px);
    &.trade-in-page-banner {
        min-height: calc(60vh - 110px);
    }
    .single-image-banner-inner {
        min-height: calc(80vh - 110px);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 0 0 10%;
        &.centered {
            padding: 0;
            justify-content: center;
            text-align: center;
            .brand-name-inner {
                padding: 0;
                h1 {
                    padding: 0 12px;
                }
            }
        }
        &.audi-page {
            background: url('../images/audi.jpg');
            background-repeat: no-repeat;
            background-position: right 50%;
            background-size: cover;
        }
        &.accessories-page {
            background: url('../images/accessories-bg.jpg');
            background-repeat: no-repeat;
            background-position: right 50%;
            background-size: cover;
        }
        &.trade-in-page {
            background: $darkBG;
            min-height: calc(60vh - 110px);
            .brand-name {
                .brand-name-inner {
                    background: transparent !important;
                    h1 {
                        &.brand-page-header {
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
    .brand-banner-content {
        .brand-header {
            display: flex;
            margin-bottom: 8px;
            .brand-logo {
                width: auto;
                height: 120px;
                display: flex;
                padding: 12px;
                justify-content: center;
                align-items: center;
                background: rgba(0, 0, 0, 0.8);
                img {
                    height: 100%;
                }
            }
            .brand-name {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                .brand-name-inner {
                    background: rgba(0, 0, 0, 0.8);
                    padding: 0 12px;
                    &.brand-page-header {
                        background: none;
                    }
                    h1 {
                        color: $white;
                        text-transform: uppercase;
                        &.brand-page-header {
                            display: inline-block;
                            background: rgba(0, 0, 0, 0.8);
                            max-width: 60%;
                            padding: 0 12px;
                            margin: 0 0 0 -12px;
                        }
                    }
                    p {
                        color: $white;
                        padding: 12px;
                        font-size: 14px;
                        font-weight: $regular;
                        max-width: 35vw;
                    }
                }
            }
        }
    }
    .brand-banner-info {
        background: rgba(0, 0, 0, 0.8);
        color: $white;
        padding: 12px;
        font-size: 18px;
        font-weight: $regular;
        max-width: calc(50vw - 10%);
    }
    .options-bar {
        width: 100%;
        height: 50px;
        background: darken($lightGray, 2%);
        border-bottom: 1px solid darken($lightGray, 6%);
        &.bar-2 {
            background: darken($color: $lightGray, $amount: 8%);
            border-bottom: 1px solid darken($lightGray, 14%);
            ul {
                li {
                    &.active {
                        background: darken($color: $lightGray, $amount: 20%);
                    }
                    a {
                        border-right: 1px solid darken($lightGray, 13%);
                    }
                }
            }
        }
        &.bar-3 {
            background: darken($color: $lightGray, $amount: 14%);
            border-bottom: 1px solid darken($lightGray, 19%);
            ul {
                li {
                    &.active {
                        background: darken($color: $lightGray, $amount: 32%);
                    }
                    a {
                        border-right: 1px solid darken($lightGray, 19%);
                    }
                }
            }
        }
        ul {
            display: flex;
            li {
                &.active {
                    background: darken($color: $lightGray, $amount: 10%);
                }
                a {
                    line-height: 50px;
                    padding: 0 20px;
                    border-right: 1px solid darken($lightGray, 7%);
                    display: block;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $darkGray;
                    font-weight: $semi-bold;
                    &:hover {
                        background: $red;
                        color: $white;
                    }
                }
            }
        }
        &.dark {
            background: $darkGray;
            border-bottom: 1px solid darken($darkGray, 2%);
            ul {
                li {
                    a {
                        color: $lightGray;
                        border-right: 1px solid darken($lightGray, 70%);
                    }
                }
            }
        }
    }
}

.ab-product-grid {
    width: 90%;
    max-width: 1630px;
    margin: 0 auto;
    background: $white;
    &.margin-top {
        margin-top: 80px;
    }
    &.details-grid {
        background: $darkGray;
    }
    .ab-product-grid-inner {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .product {
            max-width: calc((100%-180px)/3);
            padding: 0 30px;
            margin-bottom: 80px;
            width: 100%;
        }
        .detail-col {
            max-width: calc((100%-240px)/4);
            padding: 0 30px;
            margin-bottom: 40px;
            width: 100%;
        }
        .product-inner {
            width: 100%;
            display: block;
        }
        .product-image {
            img {
                width: 100%;
            }
            &.service-image {
                img {
                    width: auto;
                }
            }
            margin-bottom: 32px;
        }
        .product-details {
            .product-name {
                font-size: 20px;
                line-height: 20px;
                font-weight: $bold;
                color: $fontColor;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin-bottom: 20px;
                &.detail-name {
                    color: $white;
                }
            }
            .product-desc {
                font-size: 14px;
                line-height: 2;
                color: $fontColor;
                font-weight: $regular;
                margin-bottom: 32px;
                letter-spacing: 1px;
                &.detail-desc {
                    color: $white;
                }
            }
            .product-more-link {
                font-size: 14px;
                line-height: 14px;
                font-weight: $semi-bold;
                color: $fontColor;
                text-transform: uppercase;
                position: relative;
                padding-left: 20px;
                transition: all 0.3s ease-in-out;
                &.detail-more-link {
                    color: $white;
                }
                &:hover {
                    color: $red;
                }
                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 14px;
                    height: 11px;
                    background: url(../images/find-out-arrow.png);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: contain;
                    top: 5px;
                    left: 0px;
                }
            }
        }
    }
}

.ab-special-section {
    width: 100%;
    display: flex;
    max-height: 560px;
    height: 560px;
    background: url(../images/blueaudi.jpg);
    background-size: cover;
    background-position: center 50%;
    .ab-special-section-inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 560px;
        width: 90%;
        max-width: 1630px;
        margin: 0 auto;
    }
    .ab-special-section-info {
        background: rgba(0, 0, 0, 0.8);
        padding: 30px;
        min-width: 320px;
        margin: 100px 30px 0;
        h1 {
            color: $white;
            font-size: 40px;
            line-height: 40px;
            text-transform: uppercase;
            font-weight: $semi-bold;
            margin-bottom: 12px;
            sup {
                text-transform: lowercase;
                font-size: 24px;
            }
        }
        p {
            color: $white;
            font-size: 16px;
            font-weight: $regular;
            display: block;
            margin-bottom: 32px;
        }
    }
}

.ab-subscribe {
    width: 100%;
    background: darken($color: $secBg, $amount: 0%);
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
    .subscribe-inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ab-subs-form {
        width: 50%;
        max-width: 600px;
        display: flex;
        input {
            width: 100%;
            margin-right: 24px;
            padding: 0 24px;
            background: $white;
            text-transform: uppercase;
            border: 1px solid darken($color: $lightGray, $amount: 20%);
        }
        .sub-btn {
            background: $darkGray;
            color: $white;
        }
    }
}

.ab-footer {
    .footer-col {
        h3 {
            color: $white;
            text-transform: uppercase;
            font-weight: $semi-bold;
            font-size: 16px;
            margin-bottom: 12px;
            transition: all 0.3s ease-in-out;
            a {
                color: $white;
                transition: all 0.3s ease-in-out;
            }
            &:hover {
                color: $red;
                a {
                    color: $red;
                }
            }
        }
        ul {
            li {
                a {
                    color: darken($color: $lightGray, $amount: 20%);
                    text-transform: uppercase;
                    padding-bottom: 12px;
                    display: inline-block;
                    font-size: 14px;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: $red;
                        a {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
}

.floating-menu {
    display: block;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    z-index: 9999;
    .floating-menu-inner {
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        ul {
            width: 100%;
            &:hover {
                .names {
                    width: 180px;
                    padding: 0 20px;
                }
            }
            li {
                height: 48px;
                border-bottom: 1px solid rgba($color: $lightGray, $alpha: .15);
                transition: all 0.3s ease-in-out;
                &:hover {
                    background: $black;
                    a {
                        .names {
                            color: $red;
                        }
                    }
                }
                a {
                    display: flex;
                    .names {
                        display: flex;
                        width: 100%;
                        color: $white;
                        text-transform: uppercase;
                        font-size: 13px;
                        line-height: 48px;
                        padding: 0 0;
                        width: 0px;
                        overflow: hidden;
                        white-space: nowrap;
                        transition: all 0.3s ease-in-out;
                        .social-icon {
                            width: 48px;
                            height: 48px;
                            display: block;
                            &.face {
                                background: url(../images/face.png);
                                background-position: 50% 50%;
                                background-size: 20px;
                                background-repeat: no-repeat;
                            }
                            &.twt {
                                background: url(../images/twt.png);
                                background-position: 50% 50%;
                                background-size: 20px;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                    .icon {
                        width: 48px;
                        height: 48px;
                        border-left: 1px solid rgba($color: $lightGray, $alpha: .15);
                        &.car-icon {
                            background: url(../images/car.png);
                            background-repeat: no-repeat;
                            background-size: 20px;
                            background-position: 50% 50%;
                        }
                        &.cal-icon {
                            background: url(../images/calculator.png);
                            background-repeat: no-repeat;
                            background-size: 20px;
                            background-position: 50% 50%;
                        }
                        &.report-icon {
                            background: url(../images/notebook.png);
                            background-repeat: no-repeat;
                            background-size: 20px;
                            background-position: 50% 50%;
                        }
                        &.mail-icon {
                            background: url(../images/envilope.png);
                            background-repeat: no-repeat;
                            background-size: 20px;
                            background-position: 50% 50%;
                        }
                        &.share-icon {
                            background: url(../images/share.png);
                            background-repeat: no-repeat;
                            background-size: 20px;
                            background-position: 50% 50%;
                        }
                    }
                }
            }
        }
    }
}

.ab-side-nav {
    display: none;
}

.brand-names-wrapper {
    width: 100%;
    .brand-names-inner {
        width: 100%;
        .brand {
            padding: 56px 0 56px 5%;
            width: 100%;
            max-width: 1630px;
            display: flex;
            &:nth-child(even) {
                background: darken($color: #FAFAFA, $amount: 1%);
            }
            .brand-info {
                width: 35%;
                h1 {
                    text-transform: uppercase;
                    font-size: 32px;
                }
                p {
                    font-size: 14px;
                    line-height: 2;
                    color: $fontColor;
                    margin-bottom: 24px;
                }
            }
            .brand-images {
                width: 70%;
                padding: 0 0 0 24px;
                .slick-next,
                .slick-prev {
                    width: 40px;
                    height: 40px;
                    z-index: 9;
                    background: transparent;
                    &:before,
                    &::after {
                        width: 30px;
                        height: 30px;
                        display: block;
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        border-left: 2px solid $white;
                        border-bottom: 2px solid $white;
                        content: '';
                        background: transparent;
                        transform: rotate(45deg);
                    }
                }
                .slick-prev {
                    left: 25px;
                }
                .slick-next {
                    right: 25px;
                    &:before,
                    &::after {
                        border-right: 2px solid $white;
                        border-top: 2px solid $white;
                        border-left: none;
                        border-bottom: none;
                        ;
                    }
                }
                img {
                    height: 280px;
                    margin: 0;
                    padding: 0;
                    outline: none;
                }
            }
        }
    }
}

.trade-in-wrapper {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    padding-bottom: 80px;
    .section-1 {
        display: block;
        width: 100%;
        .section-header {
            text-align: left;
        }
        .section-header-inner {
            width: auto;
            display: inline-flex;
            justify-content: flex-start;
            border-bottom: 5px solid $red;
        }
        .section-number {
            height: 80px;
            margin-right: 8px;
            h1 {
                font-size: 80px;
                line-height: 80px;
                font-weight: $semi-bold;
                color: $red;
            }
        }
        .section-name {
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 12px 0 7px 0;
            align-items: flex-start;
            h1 {
                font-size: 32px;
                font-weight: $bold;
                color: $fontColor;
                line-height: 32px;
            }
            span {
                font-size: 18px;
                color: $fontColor;
                line-height: 18px;
                font-weight: $regular;
            }
        }
        .section-form {
            display: flex;
            flex-wrap: wrap;
        }
        .upload-section {
            display: flex;
            width: 100%;
            padding: 24px;
            border: 1px solid $darkGray;
            margin-bottom: 16px;
            .image-upload-section,
            .video-url-section {
                width: 50%;
                label {
                    font-size: 14px;
                    font-weight: $semi-bold;
                    color: $fontColor;
                    width: 100%;
                    display: block;
                    line-height: 14px;
                    margin-bottom: 4px;
                }
            }
            .image-upload-section {
                padding-right: 12px;
                .upload-input-wrapper {
                    display: flex;
                    width: 100%;
                    input[type=file] {
                        display: none;
                    }
                    .upload {
                        height: 40px;
                        border: none;
                        border-radius: 0;
                        background: #D4D4D4;
                        width: 100%;
                        display: flex;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: $semi-bold;
                        text-transform: uppercase;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 0 12px 0 32px;
                        background-image: url('../images/clip.png');
                        background-repeat: no-repeat;
                        background-size: 24px 24px;
                        background-position: 6px 8px;
                        margin-right: 8px;
                    }
                    .add-more {
                        width: 40px;
                        height: 40px;
                        border-radius: 0;
                        border: none;
                        background: #D4D4D4;
                        background-image: url('../images/plus.png');
                        background-repeat: no-repeat;
                        background-size: 12px 12px;
                        background-position: 50% 50%;
                        color: $fontColor;
                        font-size: 24px;
                        line-height: 40px;
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                    }
                }
            }
            .video-url-section {
                padding-left: 12px;
                .video-url {
                    width: 100%;
                    height: 40px;
                    border: none;
                    border-radius: 0;
                    background: #D4D4D4;
                    padding: 0 12px;
                    color: $fontColor;
                    font-size: 12px;
                    font-weight: $semi-bold;
                    text-transform: uppercase;
                }
            }
        }
        .group {
            display: flex;
            width: 100%;
            flex-direction: column;
            margin-bottom: 20px;
            padding: 12px 0 0;
            .question {
                .q-image {
                    width: 40px;
                    height: 40px;
                    display: block;
                    margin-bottom: 4px;
                    &.exterior {
                        background: url(../images/exterior-condition.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                    }
                    &.interior {
                        background: url(../images/interior-condition.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                    }
                    &.accident {
                        background: url(../images/cone-black.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: 50% 50%;
                    }
                }
            }
            .answers {
                .checkbox-wrap {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                }
            }
        }
    }
}

.ab-input,
.ab-textarea {
    width: 100%;
    height: 40px;
    border-radius: 0;
    border: 1px solid $darkGray;
    padding: 0 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-weight: $semi-bold;
    &.two-col {
        width: calc((100% - 16px) / 2);
        &:nth-child(odd) {
            margin-right: 8px;
        }
        &:nth-child(even) {
            margin-left: 8px;
        }
    }
}

.ab-textarea {
    padding: 8px 16px;
    min-height: 200px;
    max-height: 200px;
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
    padding: 12px 8px 12px 0;
    &.three-col {
        width: 33.33%;
    }
    input[type=checkbox] {
        display: none;
    }
    input[type=checkbox]+label {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: darken($color: $lightGray, $amount: 10%);
        border: 1px solid $darkGray;
        position: relative;
        transition: all 0.3s ease-in-out;
        margin-right: 8px;
    }
    input[type=checkbox]+label:after {
        position: absolute;
        content: '';
        width: 12px;
        height: 12px;
        background: darken($color: $lightGray, $amount: 10%);
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
    }
    input[type=checkbox]:checked+label:after {
        background: #14FF99;
    }
}

.form-submit {
    width: auto;
    display: inline-block;
    background-color: $darkGray;
    color: $lightGray;
    font-size: 12px;
    font-weight: $semi-bold;
    padding: 0 16px;
    line-height: 40px;
    height: 40px;
    text-transform: uppercase;
}

@import 'product_page';
@import 'media';