@media only screen and (max-width: 1024px) {
    .ab-home-slider-wrpper {
        .ab-slider {
            .slider-content {
                width: 40%;
            }
        }
    }
    .ab-details,
    .ab-services {
        width: 100%;
        padding: 80px 0 40px;
    }
    .floating-menu {
        display: none;
    }
    .single-image-banner {
        .brand-banner-content {
            .brand-header {
                .brand-name {
                    .brand-name-inner {
                        p {
                            max-width: 60vw;
                        }
                    }
                }
            }
        }
    }
    .trade-in-wrapper {
        padding: 0 16px 40px 16px;
    }
}

@media only screen and (max-width: 999px) {
    .ab-header {
        min-height: 65px;
        max-height: 65px;
        .ab-logo {
            padding: 0 24px;
            .ab-logo-inner {
                width: 100px;
                height: 60px;
            }
        }
        .ab-navigation {
            .basic-nav {
                display: none;
            }
            .main-nav {
                ul {
                    li {
                        a {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .ab-search-wrapper {
            display: none;
        }
        .mobile-menu {
            display: block;
            .mobile-menu-icon {
                display: flex;
                width: 65px;
                height: 65px;
                background: $black;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &.open {
                    .line {
                        background: transparent;
                        &:before {
                            transform: rotate(45deg);
                        }
                        &:after {
                            transform: rotate(-45deg);
                        }
                    }
                }
                .line {
                    width: 24px;
                    height: 2px;
                    background: $lightGray;
                    position: relative;
                    transition: all 0.3s ease-in-out;
                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        width: 24px;
                        height: 2px;
                        background: $lightGray;
                        display: block;
                        transition: all 0.3s ease-in-out;
                    }
                    &:before {
                        transform: translate(0, -8px);
                    }
                    &:after {
                        transform: translate(0, 8px);
                    }
                }
            }
        }
    }
    .ab-side-nav {
        position: absolute;
        display: block;
        z-index: 99;
        width: 0;
        overflow: hidden;
        top: 65px;
        right: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        transform: translate(100%);
        opacity: 0;
        &.nav-open {
            width: 100%;
            transform: translate(0);
            opacity: 1;
        }
        .side-nav-inner {
            position: absolute;
            right: 0;
            width: 300px;
            background: $lightGray;
            height: 100%;
            .mobile-search {
                display: flex;
                width: 100%;
                .searchbar {
                    width: calc(100% - 50px);
                    input {
                        width: 100%;
                        height: 50px;
                        border: 1px solid $secBg;
                        padding: 0 16px;
                    }
                }
                .search-btn {
                    width: 50px;
                    height: 50px;
                    background: $darkGray;
                    display: flex;
                    background: url(../images/search-icon.png) #eaeaea;
                    background-size: 20px;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                }
            }
            .mobile-basic-nav {
                .main-nav {
                    display: none;
                    width: 100%;
                    ul {
                        li {
                            width: 100%;
                            height: 50px;
                            border-bottom: 1px solid darken($color: $lightGray, $amount: 10%);
                            background: $secBg;
                            a {
                                line-height: 50px;
                                padding: 0 12px;
                                text-transform: uppercase;
                                font-weight: $bold;
                                font-size: 14px;
                                color: $black;
                            }
                        }
                    }
                }
                .basic-nav {
                    width: 100%;
                    ul {
                        li {
                            width: 100%;
                            height: 40px;
                            border-bottom: 1px solid darken($color: $lightGray, $amount: 5%);
                            a {
                                font-size: 13px;
                                text-transform: uppercase;
                                color: $fontColor;
                                font-weight: $semi-bold;
                                line-height: 40px;
                                padding: 0 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .ab-home-slider-wrpper {
        height: calc(100vh - 65px);
        .ab-slider {
            .slider-bg {
                height: calc(100vh - 65px);
            }
            .slider-content {
                width: 50%;
            }
            .slide-header {
                h1 {
                    font-size: 32px;
                    line-height: 32px;
                }
            }
            .slider-info {
                p {
                    color: $white;
                    font-size: 16px;
                }
            }
        }
    }
    .ab-product-grid {
        width: 100%;
        &.margin-top {
            margin-top: 40px;
        }
        .ab-product-grid-inner {
            .product {
                max-width: calc((100%-180px)/2);
            }
            .detail-col {
                max-width: calc((100%-240px)/2);
                margin-bottom: 80px;
            }
        }
    }
    .ab-subscribe {
        .ab-subs-form {
            width: 90%;
        }
    }
}

@media only screen and (max-width: 767px) {
    .ab-header {
        min-height: 65px;
        max-height: 65px;
        .ab-logo {
            padding: 0 16px;
            .ab-logo-inner {
                width: 100px;
                height: 65px;
            }
        }
        .ab-navigation {
            .main-nav {
                display: block;
                ul {
                    display: none;
                }
            }
        }
        .mobile-menu {
            display: block;
            .mobile-menu-icon {
                width: 100%;
                justify-content: flex-end;
                padding: 0 16px;
            }
        }
    }
    .section-header {
        font-size: 24px;
        padding: 40px 0;
    }
    .ab-btn {
        padding: 12px 20px;
        &.slider-btn {
            font-size: 14px;
        }
    }
    .ab-home-slider-wrpper {
        height: calc(100vh - 65px);
        .ab-slider {
            .slider-bg {
                height: calc(100vh - 65px);
                align-items: flex-end;
                padding-bottom: 140px;
            }
            .slider-content {
                width: 90%;
                min-width: 300px;
                margin: 0 10px;
            }
            .slide-header {
                padding: 16px;
                margin-bottom: 0px;
                background: rgba(0, 0, 0, 0.4);
                h1 {
                    font-size: 24px;
                    line-height: 24px;
                }
            }
            .slider-info {
                padding: 0 16px 16px 16px;
                background: rgba(0, 0, 0, 0.4);
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .ab-product-grid {
        width: 100%;
        &.margin-top {
            margin-top: 20px;
        }
        .ab-product-grid-inner {
            .product {
                max-width: 100%;
                padding: 0 20px;
            }
            .detail-col {
                max-width: 100%;
                padding: 0 20px;
                margin-bottom: 80px;
                &:last-child {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .ab-special-section {
        .ab-special-section-inner {
            align-items: flex-end;
            width: 100%;
            padding-bottom: 10px;
        }
        .ab-special-section-info {
            background: rgba(0, 0, 0, 0.6);
            padding: 30px;
            min-width: 300px;
            margin: 0 10px;
            h1 {
                font-size: 24px;
                line-height: 24px;
                sup {
                    font-size: 12px;
                }
            }
            p {
                font-size: 14px;
            }
        }
    }
    .ab-subscribe {
        padding-bottom: 60px;
        .ab-subs-form {
            width: 100%;
            max-width: 300px;
            display: flex;
            input {
                width: 100%;
                margin-right: 8px;
                padding: 0 12px;
            }
            .sub-btn {
                background: $darkGray;
                color: $white;
            }
        }
    }
    .service-desc {
        margin-bottom: 0 !important;
    }
    .ab-footer {
        .footer-col {
            h3 {
                text-align: center;
                a {
                    text-align: center;
                }
            }
            ul {
                li {
                    a {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
    .ab-side-nav {
        .side-nav-inner {
            .mobile-basic-nav {
                .main-nav {
                    display: block;
                }
            }
        }
    }
    .single-image-banner {
        min-height: calc(80vh - 110px);
        .banner-bg {
            width: 100%;
        }
        .single-image-banner-inner {
            min-height: calc(80vh - 110px);
            padding: 0 20px;
            &.centered {
                .brand-header {
                    justify-content: center;
                    .brand-name {
                        .brand-name-inner {
                            p {
                                max-width: 90vw;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .brand-banner-content {
            .brand-header {
                flex-wrap: wrap;
                width: 100%;
                padding-top: 16px;
                padding-bottom: 8px;
                .brand-logo {
                    width: 120px;
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                .brand-name {
                    .brand-name-inner {
                        padding: 12px 12px;
                        &.brand-page-header {
                            width: 100%;
                        }
                        h1 {
                            line-height: 1;
                            word-break: break-all;
                            &.brand-page-header {
                                max-width: 100%;
                                font-size: 24px;
                                padding: 12px;
                            }
                        }
                    }
                }
            }
        }
        .brand-banner-info {
            font-size: 18px;
            max-width: calc(100vh - 40px);
        }
        .options-bar {
            display: none;
        }
        &.trade-in-page-banner {
            .brand-header {
                justify-content: center;
                .brand-name {
                    .brand-name-inner {
                        h1 {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
    .brand-names-wrapper {
        .brand-names-inner {
            .brand {
                padding: 20px;
                flex-wrap: wrap;
                .brand-info {
                    width: 100%;
                    margin-bottom: 20px;
                    h1 {
                        text-align: center;
                    }
                    p {
                        text-align: center;
                    }
                    button {
                        margin: 0 auto;
                    }
                }
                .brand-images {
                    width: 100%;
                    padding: 0px;
                    img {
                        height: 200px;
                    }
                }
            }
        }
    }
    .trade-in-wrapper {
        padding-bottom: 40px;
        .section-1 {
            .section-number {
                height: 50px;
                margin-right: 4px;
                h1 {
                    font-size: 50px;
                    line-height: 50px;
                }
            }
            .section-name {
                height: 50px;
                padding: 6px 0 7px 0;
                h1 {
                    font-size: 24px;
                    line-height: 24px;
                }
                span {
                    font-size: 12px;
                    line-height: 12px;
                }
            }
            .section-form {
                display: flex;
                flex-wrap: wrap;
            }
            .upload-section {
                flex-wrap: wrap;
                padding: 12px;
                margin-bottom: 16px;
                .image-upload-section,
                .video-url-section {
                    width: 100%;
                    label {
                        margin-bottom: 4px;
                    }
                }
                .image-upload-section {
                    padding-right: 0px;
                    margin-bottom: 12px;
                }
                .video-url-section {
                    padding-left: 0;
                }
            }
            .group {
                margin-bottom: 20px;
                padding: 12px 0 0;
                .answers {
                    .checkbox-wrap {
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
    .checkbox {
        &.three-col {
            width: 50%;
        }
    }
    .ab-input,
    .ab-textarea {
        width: 100%;
        height: 40px;
        border-radius: 0;
        border: 1px solid $darkGray;
        padding: 0 16px;
        margin-bottom: 16px;
        text-transform: uppercase;
        font-weight: $semi-bold;
        &.two-col {
            width: 100%;
            &:nth-child(odd) {
                margin-right: 0px;
            }
            &:nth-child(even) {
                margin-left: 0px;
            }
        }
    }
}